/* dm-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v17-latin-regular.woff2") format("woff2");
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dm-sans-v17-latin-600.woff2") format("woff2");
}
/* dm-sans-900 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/dm-sans-v17-latin-900.woff2") format("woff2");
}

/* crimson-pro-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/crimson-pro-v28-latin-regular.woff2") format("woff2");
}
/* crimson-pro-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/crimson-pro-v28-latin-500.woff2") format("woff2");
}
/* crimson-pro-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/crimson-pro-v28-latin-600.woff2") format("woff2");
}
