:root {
  --color-button: #485c11;
  --color-text: #000000;
  --color-gray: #929292;
  --color-gray-light: #e9e9e9;
  --color-background: #ffffff;
  --color-brand: #8e9c78;
  --color-brand-light: #dfecc6;
}

$bp-tablet: 800px;
$bp-desktop: 1280px;
