.button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 14px 22px;
  color: var(--color-background);
  background-color: var(--color-button);
  transition: background-color 0.3s;
  font-size: 14px;
  font-weight: 800;
  font-family: "DM Sans";
  border: none;
  border-radius: 32px;
  cursor: pointer;

  &__arrow {
    fill: var(--color-background);
  }

  &:hover {
    background-color: var(--color-brand);
  }

  &--light {
    color: var(--color-text);
    background-color: var(--color-brand-light);

    &:hover {
      color: var(--color-background);
      background-color: var(--color-brand);
    }
  }

  &--long {
    width: 343px;

    @media screen and (min-width: $bp-tablet) {
      width: 520px;
    }

    @media screen and (min-width: $bp-tablet) {
      width: 600px;
    }
  }

  &__text,
  &__svg {
    transition: transform 0.4s;
  }

  &:hover &__text,
  &:hover &__svg {
    transform: translateX(232px);
  }
}
