.link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 14px;
  font-family: "DM Sans";
  transition: color 0.4s;
  font-weight: 800;
  white-space: nowrap;

  &:hover {
    color: var(--color-gray);
  }
}
