.benefits-section {
  padding: 30px 0 60px 0;
  &__heading {
    color: var(--color-gray);
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 300;
    font-family: "DM Sans";
  }

  &__text {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: "Crimson Text";

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 50px;
      line-height: 1.4;
    }
  }

  &__paragraf {
    color: var(--color-gray);
    margin-bottom: 130px;
    font-size: 15px;
    font-weight: 300;
    font-family: "DM Sans";
  }

  &__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 60px) / 4);
      flex-direction: row;
      margin-bottom: 60px;
    }
  }

  &__advantage {
    position: relative;
    align-items: start;

    &::before {
      position: absolute;
      top: -42px;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
      @media screen and (min-width: $bp-tablet) {
        top: -42px;
      }
    }
  }
  &__advantage-img {
    margin-bottom: 24px;
  }

  &__advantage-text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Crimson Text";
  }

  &__advantage-paragraf {
    color: var(--color-gray);
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
    margin-bottom: 100px;
  }

  &__img-container {
    object-fit: cover;
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 340px;
    height: 600px;
    border-radius: 32px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 1200px;
      height: 620px;
    }
  }
}
