.benefits-section {
  padding: 30px 0 60px 0;
  &__heading {
    color: var(--color-gray);
    margin-bottom: 50px;
    font-size: 17px;
    font-weight: 300;
    font-family: "DM Sans";
  }

  &__text {
    font-size: 60px;
    height: 54px;
    margin-bottom: 50px;
    font-weight: 400;
    line-height: 1.4;
    font-family: "Crimson Text";
  }

  &__paragraf {
    color: var(--color-gray);
    margin-bottom: 90px;
    font-size: 15px;
    font-weight: 300;
    font-family: "DM Sans";
  }

  &__list {
    display: flex;
    text-align: left;
    gap: 20px;
    flex-basis: calc((100% - 60px) / 4);
    margin-bottom: 60px;
  }
  &__advantage {
    position: relative;
    align-items: start;

    &::before {
      position: absolute;
      // left: 0;
      top: -42px;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }
  &__advantage-img {
    margin-bottom: 24px;
  }

  &__advantage-text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Crimson Text";
  }

  &__advantage-paragraf {
    color: var(--color-gray);
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 620px;
    border-radius: 32px;
  }
}
