.container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;

  &--before::before {
    position: absolute;
    top: -80px;
    width: 100%;
    border: 2px solid var(--color-gray-light);
    left: -40px;
    width: calc(100% + 80px);
    content: "";
  }
}
