.container {
  position: relative;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 16px;

  @media screen and (min-width: $bp-tablet) {
    padding: 0 40px;
  }

  &--before::before {
    position: absolute;
    top: -80px;
    border: 2px solid var(--color-gray-light);
    left: 0;
    width: 100%;
    content: "";
  }
}
