.header {
  padding: 20px 0;
  border: 1px solid var(--color-gray-light);
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 16px 0;
    border: none;
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $bp-mobile) {
      padding: 0 40px;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;

    &.is-open {
      .header__bottom {
        transform: translateY(0);
      }
    }
  }
  // TOP
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 50px 0;
    z-index: 10;
  }

  &__logo {
    color: var(--color-text);
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
    flex-grow: 1;
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  // BOTTOM
  &__bottom {
    position: absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: 8px 0 32px 0;
    overflow: hidden;
    transform: translateY(-150%);
    z-index: 20;
    top: 100%;
    left: 0;
    transition: transform 1s ease;
    background-color: var(--color-background);
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 0;
    width: 100%;
  }

  &__link {
    width: 100%;
    padding: 30px 0;
    position: relative;
    &::before {
      position: absolute;
      width: 100%;
      top: 1px;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }
}
