.example-section {
  padding: 60px 0 120px 0;
  &__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 710px;
  }

  &__left {
    align-items: start;
    width: 100%;
    max-width: 590px;
    height: 100%;
    max-height: 710px;
  }

  &__text {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__paragraf {
    color: var(--color-gray);
    width: 100%;
    max-width: 510px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__item {
    display: flex;
    position: relative;
    align-items: start;
    gap: 30px;
    padding: 20px 0;
    flex-shrink: 0;

    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__img {
    width: 100%;
    max-width: 590px;
    height: 100%;
    max-height: 800px;
    border-radius: 32px;
  }
}
