.example-section {
  padding: 60px 0 120px 0;
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 130px;

    @media screen and (min-width: $bp-tablet) {
      gap: 120px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 20px;
      flex-direction: row;
      height: 800px;
    }
  }

  &__left {
    align-items: start;
    width: 100%;
    max-width: 590px;
    height: 100%;
    max-height: 710px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      max-width: 100%;
      max-height: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 590px;
      max-height: 711px;
      padding: 60px 0 80px 0;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    font-family: "Crimson Text";

    &::before {
      top: -60px;
      position: absolute;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__paragraf {
    color: var(--color-gray);
    width: 100%;
    max-width: 510px;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: left;
  }

  &__item {
    display: flex;
    position: relative;
    align-items: start;
    gap: 30px;
    padding: 20px 0;
    flex-shrink: 0;
    width: 100%;

    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__img {
    width: 100%;
    max-width: 310px;
    height: 100%;
    max-height: 385px;
    border-radius: 32px;
    align-self: center;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
      max-height: 745px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 590px;
      height: 711px;
    }
  }
}
