.footer {
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 0 20px 0;

    &::before {
      position: absolute;
      top: 0;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-bottom: 80px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__content {
    display: flex;
    align-items: flex-end;
    gap: 40px;
  }

  &__svg {
    align-self: flex-end;
    flex-shrink: 0;
  }

  &__info {
    display: flex;
    gap: 16px;
  }

  &__text {
    color: var(--color-button);
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    font-family: "Roboto Mono";

    &--right {
      margin-left: auto;
    }
  }
}
