.header {
  border: 1px solid var(--color-gray-light);
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 20px;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-mobile) {
      flex-shrink: 1;
    }

    @media screen and (min-width: $bp-tablet) {
      justify-content: space-between;
    }
  }

  &__logo {
    color: var(--color-text);
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $bp-mobile) {
      position: fixed;
      flex-direction: row;
      top: 36px; //Add padding for section
      left: 50%;
      margin-top: 16px;
      transform: translate(-50%, -50%);
      z-index: 1000;
      display: flex;
      gap: 27px;
      padding: 20px 24px;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.6);
      border-radius: 32px;
    }
  }

  &__link {
    padding: 30px;
    position: relative;
    &::before {
      position: absolute;
      width: 100%;
      max-width: 335px;
      border: 1px solid var(--color-gray-light);
      content: "";
    }

    @media screen and (min-width: $bp-mobile) {
      padding: 0;
      &::before {
        content: none;
      }
    }
  }

  &__button {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__burger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;

    @media screen and (min-width: $bp-mobile) {
      flex-shrink: 1;
    }

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}
