.header {
  padding-top: 20px;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: var(--color-text);
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
  }

  &__list {
    position: fixed;
    top: 36px; //Add padding for section
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    gap: 27px;
    padding: 20px 24px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);
    border-radius: 32px;
  }
}
