.header {
  padding: 0;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;

  &__container {
    position: relative;
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $bp-tablet) {
      padding: 0 40px;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    flex-direction: column;

    &.is-open {
      .header__bottom {
        transform: translateY(0);
      }
    }
  }
  // TOP
  &__top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 50px 0;
    width: 100%;
    background-color: var(--color-background);
    z-index: 2;

    @media screen and (min-width: $bp-tablet) {
      padding: 20px 0 0 0;
    }
  }

  &__logo {
    color: var(--color-text);
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
  }

  &__list {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      position: fixed;
      top: 16Ñ–px;
      left: 50%;
      display: flex;
      gap: 27px;
      padding: 20px 24px;
      transform: translateX(-50%);
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(10px);
      border-radius: 32px;
      z-index: 1000;
    }
  }

  &__burger {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  // BOTTOM
  &__bottom {
    position: absolute;
    display: flex;
    text-align: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 8px 0 32px 0;
    transform: translateY(-150%);
    top: 100%;
    left: 0;
    transition: transform 0.5s ease;
    background-color: var(--color-background);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    z-index: 1;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__bottom-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
  }

  &__link {
    width: 100%;
    padding: 30px 0;
    position: relative;

    &::before {
      position: absolute;
      width: 100%;
      top: 1px;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
    @media screen and (min-width: $bp-tablet) {
      padding: 0;
      &::before {
        content: none;
      }
    }
  }
}
