.hero-section {
  text-align: center;

  &__title {
    font-size: 150px;
    height: 140px;
  }

  &__picture {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  &__img {
    position: relative;
    width: 100%;
    max-width: 680px;
    max-width: 907px;
    height: 100%;
    max-height: 640px;
    margin-bottom: -120px;
    z-index: 2;
    background-image: url("../img/desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
    }
  }

  &__background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 362px;
    background-color: var(--color-brand);
    border-radius: 32px;
    z-index: 1;
  }
}
