.hero-section {
  &__title {
    font-size: 150px;
    text-align: center;
    width: 100%;
    height: 140px;
  }

  &__picture {
    position: relative;
    display: flex;
  }

  &__img {
    position: absolute;
    text-align: center;
  }

  &__background {
    position: relative;
    top: 0;
    width: 1200px;
    height: 362px;
    border-radius: 32px;
    background-color: var(--color-brand);
  }
}
