.hero-section {
  &__title {
    font-size: 76px;
    font-weight: 400;
    font-family: "Crimson Text";
    margin-bottom: 70px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      height: 140px;
      margin-bottom: 80px;
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 150px;
      height: 140px;
      margin-bottom: 100px;
    }
  }

  &__photo {
    text-align: center;
  }

  &__picture {
    position: relative;
    margin: 0 auto;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      width: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 1200px;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 270px;
    margin-bottom: -120px;
    z-index: 2;
    margin: 0 auto;
    padding: 0 36px;
    border-radius: 48px;

    @media screen and (min-width: $bp-tablet) {
      border-radius: none;
      max-width: 680px;
      padding: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 907px;
      border-radius: none;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 362px;
    background-color: var(--color-brand);
    z-index: 1;
    border-radius: 32px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 1200px;
    }
  }
}
