.hero-section {
  &__title {
    text-align: center;
    width: 100%;
    max-width: 342px;
    height: 100%;
    margin: 0 auto;
    font-size: 76px;
    font-weight: 400;
    font-family: "Crimson Text";
    line-height: 1;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      max-width: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 150px;
      max-width: 1200px;
      margin-bottom: 100px;
    }
  }

  &__photo {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 340px;
    height: 540px;
    overflow: hidden;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 1200px;
    }
  }

  &__img {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 270px;
    height: 100%;
    left: 50%;
    bottom: -120px;
    transform: translateX(-50%);
    z-index: 2;

    @media screen and (min-width: $bp-tablet) {
      max-width: 680px;
      max-height: 420px;
      bottom: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 907px;
      max-height: 650px;
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    max-width: 340px;
    height: 100%;
    max-height: 362px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: var(--color-brand);
    border-radius: 32px;
    z-index: 1;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
      max-height: 360px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 1200px;
    }
  }
}
