.map-section {
  padding: 80px 0 40px 0;
  &__container {
    position: relative;
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      left: -40px;
      width: calc(100% + 80px);
      content: "";
    }
    &::before {
      top: -80px;
    }
    &::after {
      top: 160px;
    }
  }

  &__hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
  }

  &__heading {
    position: relative;
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    gap: 20px;
  }

  &__item {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 60px 30px 20px 0;
  }

  &__number {
    color: var(--color-gray);
    margin-bottom: 60px;
    font-size: 80px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__paragraf {
    color: var(--color-gray);
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__img {
    width: 100%;
    max-width: 1200px;
    border-radius: 32px;
  }
}
