.map-section {
  padding: 80px 0 40px 0;
  &__container {
    position: relative;
    &::before {
      position: absolute;
      left: 0;
      top: -80px;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 80px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__heading {
    position: relative;
    margin: 0;
    line-height: 1;
    font-size: 60px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__content {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 120px;
    gap: 20px;
    overflow-x: auto;

    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
      overflow: visible;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 60px 30px 20px 0;
    flex-basis: 240px;
    max-width: 240px;
    flex-shrink: 0;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }

    @media screen and (min-width: $bp-desktop) {
      flex-basis: 390px;
      max-width: 390px;
    }
  }

  &__number {
    color: var(--color-gray);
    margin-bottom: 60px;
    font-size: 80px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__paragraf {
    color: var(--color-gray);
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }

  &__img-container {
    display: flex;
  }

  &__img {
    width: 100%;
    max-width: 343px;
    height: 600px;
    margin: 0 auto;
    border-radius: 32px;
    object-fit: cover;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
      height: 660px;
    }

    @media screen and (min-width: $bp-desktop) {
      max-width: 1200px;
    }
  }
}
