.quote-section {
  padding: 60px 0 120px 0;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 670px;
  }

  &__img {
    width: 100%;
    max-width: 590px;
    height: 100%;
    border-radius: 32px;
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 50px;
    width: 590px;
    height: 670px;
    justify-content: center;

    &::before {
      position: absolute;
      top: 0;
      left: 10px;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }
  }

  &__quote {
    width: 100%;
    max-width: 542px;
    height: 100%;
    max-height: 295px;
    line-height: 105%;
    font-size: 40px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__author {
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 0;
  }
}
