.quote-section {
  padding: 60px 0 100px 0;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__img {
    width: 100%;
    max-width: 343px;
    height: 100%;
    max-height: 343px;
    border-radius: 32px;
    object-fit: cover;
    margin-bottom: 20px;

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
      max-height: 720px;
    }
    @media screen and (min-width: $bp-desktop) {
      max-width: 590px;
    }
  }

  &__right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 720px;
    height: 100%;
    padding: 40px 0 0 0;

    &::before {
      position: absolute;
      top: 0px;
      width: 100%;
      border: 1px solid var(--color-gray-light);
      content: "";
    }

    @media screen and (min-width: $bp-tablet) {
      max-width: 720px;
      padding: 40px 0;
    }
    @media screen and (min-width: $bp-desktop) {
      max-width: 590px;
      left: 10px;
      padding: 0 0 0 50px;
      &::before {
        top: -160px;
      }
    }
  }

  &__quote {
    width: 100%;
    height: 100%;
    line-height: 105%;
    font-size: 32px;
    font-weight: 400;
    font-family: "Crimson Text";

    @media screen and (min-width: $bp-desktop) {
      font-size: 40px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 40px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: column;
      row-gap: 8px;
    }
  }

  &__author {
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 0;
  }
}
