.section {
  opacity: 0;
  transform: translateY(50px); // трохи вниз
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  &.section--visible {
    opacity: 1;
    transform: translateY(0);
  }
}
