.trust-section {
  padding: 50px 0;
  &__heading {
    color: var(--color-gray);
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 300;
    font-family: "DM Sans";
  }

  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 60px;

    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
    }
  }

  &__logo {
    &:nth-child(odd) {
      margin-right: 60px;
    }
    @media screen and (min-width: $bp-tablet) {
      margin-right: 60px;
    }
  }
}
