.why-section {
  padding: 80px 0 80px 0;

  &__container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
  }

  &__caption {
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 400;
    font-family: "Crimson Text";
  }

  &__paragraf {
    color: var(--color-gray);
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    font-family: "DM Sans";
  }
}
